.insurance-section {
  padding: 4rem;
  background: #ead8c0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.insurance-list-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
}

.insurance-list {
  list-style-type: disc;
  text-align: left;
}
