* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.home,
.services {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url("/images/background-services.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #574747;
  font-size: 50px;
  height: 50vh;
}

.accupuncture,
.massage,
.tcmHerbs,
.cupping {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #333;
  font-size: 50px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.accupuncture {
  background-color: #f5f5dc;
}

.massage {
  background-color: #d8cfc4;
}

.tcmHerbs {
  background-color: #dde6d5;
}

.cupping {
  background-color: #ead8c0;
}

.contact-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.contact {
  align-items: center;
  background-image: url("/images/background-contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 50px;
  justify-content: center;
  text-align: center;
  color: #333;
}

.contact-info {
  font-size: 20px;
  margin-top: 10px;
}
